body{
    font-family: Arial, Helvetica, sans-serif;
}


section{
    margin-left:35%;
    margin-top: 100px;
    border: 1px solid gainsboro;
    width: 500px;
    height: 400px;
    background-color: #fdfdfd;
    box-shadow: 0 10px 20px  rgba(167, 164, 164, 0.25), 
    0 10px 10px rgba(0,0,0,0.22);

}
.content h1 {
    margin-left: 50px;
    font-size:40px;
    margin-top: -25px;
    color: #161616;
    font-weight: 400;
}
div{
    padding: 50px;
    margin-left:80px;
}
label {
    font-size: 13px;
    font-weight: 600;
    color: #2c2c2c;
    line-height: 25px;
}
input {
    width: 250px;
    height: 25px;
    padding-top: 5px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    box-shadow: 0 10px 20px  rgba(189, 185, 185, 0.25)
}
input[type = "submit"]{
    background-color: #323232;
    width: 230px;
    height: 33px;
    margin-left: 10px;
    color: #cccccc;
    font-weight: 600;
}
